################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MagicVilla/FileContentIndex/482c92de-8603-41a4-a58b-3f6aaa1da53d.vsidx
/.vs/MagicVilla/FileContentIndex/857cc838-f50b-4f0a-9b9e-d1018cdac7d9.vsidx
